<div class="container">

  <div class="account-info">
    <%= form_for @user do |f| %>

      <div class= "field">
        <%= f.label :city %><br/>
        <%= f.text_field :city %>
      </div>

      <div class= "field">
        <%= f.label :state %><br/>
        <%= f.select :state, options_for_select(us_states) %>
      </div>

      <div class= "field">
        <%= f.label :favorite_band %><br/>
        <%= f.text_field :favorite_band %>
      </div>

      
        <button class=" edit-profile-button waves-effect waves-light btn">
          <%= f.submit "Update Your Profile!", style:"color: white" %>
        </button>
      </div>

    <% end %>

    <% if @user.errors.any? %>
      <%@user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <%end%>
    <%end%>
  </div>

</div>