<h2>Welcome to GigFreq! Please sign up here!</h2>

<%= form_for @user do |f| %>

  <div class= "field">
    <%= f.label :username %><br/>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class= "field">
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </div>

   <div class= "field">
    <%= f.label :state %><br/>
    <%= f.select :state, options_for_select(us_states) %>
  </div>

  <div class= "field">
    <%= f.label :favorite_band %><br/>
    <%= f.text_field :favorite_band %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br/>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<% if @user.errors.any? %>
  <%@user.errors.full_message do |msg| %>
    <p><%= msg %></p>
  <%end%>
<%end%>
