<h4 class="center">See your upcoming shows below:</h4>

<table class="centered">
   <thead>
      <tr>
         <th><strong>Name</strong></th>
         <th><strong>Venue</strong></th>
         <th><strong>Location</strong></th>
         <th><strong>Date</strong></th>
         <th><strong>Details</strong></th>
      </tr>
   </thead>

   <tbody>
      <% current_user.shows.shows_by_date.each do |show| %>
         <tr>
            <td><%= show.name%></td>
            <td><%= show.venue%></td>
            <td><%= "#{show.city}, #{show.state}"%></td>
            <td><%= show.date %></td>
            <td><button class="waves-effect waves-light btn"><%= link_to "View Gig" , show_path(show), style: "color:white" %></button></td>
         </tr>
      <%end%>
   </tbody>
</table>