<div class="container">
  <div class="account-info">
    <%= form_for @band do |f| %>

      <div class= "field">
        <%= f.label :website %>
        <%= f.text_field :website %>
      </div>

      <div class= "field">
        <%= f.label :genre %>
        <%= f.text_field :genre%>
      </div>

      <div class= "field">
        <%= f.label :description %>
        <%= f.text_area :description%>
      </div>

      <button class="edit-profile-button waves-effect waves-light btn">
        <%= f.submit "Update Your Profile!", style: "color: white" %>
      </button>

    <% end %>
  </div>

</div>