<h1><%=current_user.username%>'s Stats</h1>

<div class="stats info">
   <p><strong>Your Total Shows:</strong> <%=current_user.accountable.total_shows%></p>
   <p><strong>Your Total Fans:</strong> <%=current_user.accountable.total_fans%></p>
   <p><strong>Your Total Locations:</strong> <%= current_user.accountable.locations%></p>
</div>


<div class = "fans"> 
    <p><strong>Your Fans:</strong></p>
    <% if current_user.accountable.fans.empty? %>
        <p>You don't have any fans (yet) !</p>
    <%else%>
    <% current_user.accountable.fans.each do |fan| %>
        <p><%=fan%></p>
        <%end%>
    <%end%>
</div>

<button><%= link_to "Home", band_path(current_user.accountable)%>