<div class="container">
   <h3 class="center"><%= "#{@band.name}" + "s" if @band%> Upcoming Shows</h3>


   <table class="centered">
      <thead>
         <tr>
            <th><strong>Artist</strong></th>
            <th><strong>Venue</strong></th>
            <th><strong>Location</strong></th>
            <th><strong>Date</strong></th>
            <th><strong>Details</strong></th>
         </tr>
      </thead>

      <tbody>
         <% @shows.shows_by_date.each do |show| %>
            <tr>
               <% if current_user.accountable_type == "Band "%>
                  <td><%= show.band.name%></td>
                  <td><%= show.venue%></td>
                  <td><%= "#{show.city}, #{show.state}"%></td>
                  <td><%= show.date %></td>
               <%else%>
                  <td><%= show.band.name%></td>
                  <td><%= show.venue%></td>
                  <td><%= "#{show.city}, #{show.state}"%></td>
                  <td><%= show.date %></td>
               <%end%>

               <% if current_user.accountable_type == "Band" %>
               <td><button class="waves-effect waves-light btn"><%= link_to "View #{show.name}" , show_path(show), style: "color: white"%></button></td>
               <%else%>
               <td><button class="waves-effect waves-light btn"><%= link_to "See #{show.name}" , show_path(show), style: "color: white"%></button></td>
               <%end%>
            </tr>
         <%end%>
      </tbody>
   </table>

      <section class="center">
         <% if current_user.accountable_type == "Band" %>
            <button class="waves-effect waves-light btn"><%= link_to "Add a Gig", new_band_show_path(current_user.accountable), style: "color: white" %></button>
            <button class="waves-effect waves-light btn"><%= link_to "Home", band_path(current_user.accountable), style: "color: white"%>
         <%else%>
            <button class="waves-effect waves-light btn"><%= link_to "All Shows", shows_path, style: "color: white"%></button>
            <button class="waves-effect waves-light btn"><%= link_to "Back", user_path(current_user.accountable), style: "color: white"%>
         <%end%>
      </section>
</div>