<h1><%= "#{@band.name}" + "s" if @band%> Upcoming Gigs</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
   <tr>
      <td><strong>Artist</strong></td>
      <td><strong>Venue</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Details</strong></td>
   </tr>
   
   <% @shows.each do |show| %>
      <tr>
         <td><%= show.band.name%></td>
         <td><%= show.venue%></td>
         <td><%= "#{show.city}, #{show.state}"%></td>
         <td><%= show.date %>

         <% if current_user.accountable_type == "Band" %>
         <td><%= link_to "View #{show.name}" , show_path(show)%></td>
         <%else%>
         <td><%= link_to "See #{show.name}" , show_path(show)%></td>
         <%end%>
      </tr>
   <%end%>
   </tbody>
</table>

<% if current_user.accountable_type == "Band" %>
   <button><%= link_to "Add a Gig", new_band_show_path(current_user) %></button>
   <button><%= link_to "Home", band_path(current_user)%>
<%else%>
   <button><%= link_to "View Your Shows", user_shows_path(current_user)%></button>
   <button><%= link_to "Back", user_path(current_user)%>
<%end%>