<div class="container center">

   <h3 class="center"><%=@show.name%></h3>

   <div class="show info">
      <h4><strong>Artist Name:</strong> <%=@show.band.name%></h4>
      <h4><strong>Name:</strong> <%=@show.name%></h4>
      <h4><strong>Venue:</strong> <%=@show.venue%></h4>
      <h4><strong>City:</strong> <%=@show.city%></h4>
      <h4><strong>State:</strong> <%=@show.state%></h4>
      <h4><strong>Date:</strong> <%=@show.date%></h4>
      <h4><strong>Total Attendees:</strong> <%=@show.total_users%></h4>

   </div>

   <div class = "actions">
      <% if current_user.accountable_type == "Band" %>
         <button class="waves-effect waves-light btn"><%= link_to "Edit Show", edit_band_show_path(current_user.accountable), style: "color: white" %></button>
      <%else%>
         <%= form_tag '/attend' do %>
            <%= hidden_field_tag 'show_id', @show.id %>

               <h5><strong>Select your desired number of tickets:</strong></h5> 

               <div class="ticket-select ">
                  <%= number_field_tag 'tickets_bought',  :in => 1..8 %>
               </div>

   
            
            <button class="waves-effect waves-light btn">
               <%= submit_tag "Attend This Show!", style: "color: white" %>
            </button>
         <%end%>
      <%end%>
   </div>
</div>