<h1><%=@show.name%></h1>

<div class="show info">
   <p><strong>Name:</strong> <%=@show.name%></p>
   <p><strong>Venue:</strong> <%=@show.venue%></p>
   <p><strong>City:</strong> <%=@show.city%></p>
   <p><strong>State:</strong> <%=@show.state%></p>
   <p><strong>Date:</strong> <%=@show.date%></p>
</div>