<div class="container center">
   <h4 class="center"><%=@show.name%></h4>

   <div class="show info">
      <h5><strong>Artist Name:</strong> <%=@show.band.name%></h5>
      <h5><strong>Name:</strong> <%=@show.name%></h5>
      <h5><strong>Venue:</strong> <%=@show.venue%></h5>
      <h5><strong>City:</strong> <%=@show.city%></h5>
      <h5><strong>State:</strong> <%=@show.state%></h5>
      <h5><strong>Date:</strong> <%=@show.date%></h5>
      <h5><strong>Total Attendees:</strong> <%=@show.total_users%></h5>

   </div>

   <div class = "actions">
   <% if current_user.accountable_type == "Band" %>
      <button class="waves-effect waves-light btn"><%= link_to "Edit Show", edit_band_show_path(current_user.accountable), style: "color: white" %></button>
   <%else%>
      <%= form_tag '/attend' do %>
         <%= hidden_field_tag 'show_id', @show.id %>
         <p><strong>Select your desired number of tickets: <%= number_field_tag 'tickets_bought',  :in => 1..8 %></strong></p>
         <button class="waves-effect waves-light btn">
            <%= submit_tag "Attend This Show!", style: "color: white" %>
         </button>
      <%end%>
   <%end%>
   </div>
</div>