<h1><%=@show.name%></h1>

<div class="show info">
   <p><strong>Artist Name:</strong> <%=@show.band.name%></p>
   <p><strong>Name:</strong> <%=@show.name%></p>
   <p><strong>Venue:</strong> <%=@show.venue%></p>
   <p><strong>City:</strong> <%=@show.city%></p>
   <p><strong>State:</strong> <%=@show.state%></p>
   <p><strong>Date:</strong> <%=@show.date%></p>


   <% if current_user.accountable_type == "Band" %>
      <%= link_to "Edit Show", edit_band_show_path(current_user) %>
   <%else%>
      <%= form_tag '/shows' do %>
      <%= hidden_field_tag 'show[show_id]', @show.id %>
      <%= hidden_field_tag 'show[user_id]', current_user.id %>
      <%= submit_tag "Attend This Show!" %>
      <%end%>
   <%end%>

   
</div>