<li><%= link_to "Home", band_path(current_user.accountable) %></li>
<li><%= link_to "Gigs", band_shows_path(current_user.accountable) %></li>
<li><%= link_to "Your Profile", account_path(current_user) %></li>
<li><%= link_to "Stats", stats_path(current_user.accountable)%></li>
<li><%= link_to "Log Out", logout_path %></li>