<!DOCTYPE html>
<html>
  <head>
    <title>ConcertTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>

    <% if !current_user %>
      <%= render 'layouts/logged_out_navbar'%>
    <%else%>
      <%= render 'layouts/logged_in_navbar'%>
    <%end%>
    
    
    
    <%= yield %>
    <% flash.each do |k,v| %>
      <div><%= v %></div>
    <%end%>
    
  </body>
</html>
