<!DOCTYPE html>
<html>
  <head>
    <title>ConcertTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Material Icons Import %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
  <header>

  <% if !logged_in %>
    <%= render 'layouts/logged_out_navbar'%>
  <%elsif logged_in && current_user.accountable%>
    <%=render 'layouts/logged_in_navbar'%>
  <%end%>

</header>

   <% flash.each do |k,v| %>
      <div><%= v %></div>
    <%end%>
 



    <%= yield %>
    


    
  </body>
</html>
