

  <h4>Welcome to GigFreq! Please create an account here!</h4>
  <br>
  <%= form_with model: @account, local: true do |f| %>

    <div class= "field">
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br/>
    </div>

    <div class="field">
  
      <div class="field">
        <label>
          <%= f.check_box :band, id:"band" %>
          <span>Band?</span>
        </label>
      </div>
    
    </div>

    <section class="center">
      <button class="btn waves-effect waves-light">
        <%= f.submit "Sign up", style: "color: white" %>
      </button>
    <section class="center">


    <div>
      <% if @user && @user.errors.any? %>
        <% @user.errors.full_messages.each do |errmsg| %>
          <p><%= errmsg %></p>
        <% end %>
      <% end %>
    </div>

  <% end %>


 



