<h1>Your Account Info:</h1>

<p><%=current_user.username %><p>
<p><%=current_user.accountable.website %></p>
<p><%= current_user.email %></p>
<p><%= current_user.accountable.genre %></p>
<p><%= current_user.accountable.description%></p>


<% link_to "Update Account", %>