<div class="account-container center">

    <h3>Your Account Info:</h3>

    <div class="account-info">
        <% if current_user.accountable_type == "Band" %>
            <h4><strong>Name:</strong> <%=current_user.username %><h4>
            <h4><strong>Website:</strong> <%=current_user.accountable.website %></h4>
            <h4><strong>Email Address:</strong> <%= current_user.email %></h4>
            <h4><strong>Genre:</strong> <%= current_user.accountable.genre %></h4>
            <h4><strong>Description:</strong> <%= current_user.accountable.description%></h4>
        <% else %>
            <h4><strong>Name:</strong> <%=current_user.username %><h4>
            <h4><strong>Email Address:</strong> <%= current_user.email %></h4>
            <h4><strong>City:</strong> <%= current_user.accountable.city %></h4>
            <h4><strong>State:</strong> <%= current_user.accountable.state%></h4>
            <h4><strong>Favorite Band:</strong> <%= current_user.accountable.favorite_band%></h4>
        <%end%>
    </div>

        <% if current_user.accountable_type == "Band"%>
            <button class="waves-effect waves-light btn"><%= link_to "Update Acount", edit_band_path(current_user.accountable.id), style: "color: white"%>
            <button class="waves-effect waves-light btn"><%= link_to "Back", band_path(current_user.accountable.id), style: "color: white"%>
        <%else%>
            <button class="waves-effect waves-light btn"><%= link_to "Update Account", edit_user_path(current_user.accountable.id), style: "color: white"%></button>
            <button class="waves-effect waves-light btn"><%= link_to "Back", user_path(current_user.accountable.id), style: "color: white"%>
        <%end%>
   
</div>
