<h1>Your Account Info:</h1>

<p>Name: <%=current_user.username %><p>
<p>Website: <%=current_user.accountable.website %></p>
<p>Email Address: <%= current_user.email %></p>
<p>Genre: <%= current_user.accountable.genre %></p>
<p>Description:<%= current_user.accountable.description%></p>


<%= link_to "Update Account", edit_account_path(current_user)%>